@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); 

@import "container.css";
@import "avatar.css";
@import "button.css";
@import "banner.css";
@import "card.css";


body {
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;
}


h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

a {
	text-decoration: none;
}
